{% extends "base.html" %}
{% block content %}
    
    <h3 class="text-shadow white-text teal darken-2">All Tasks</h3>

    <ul class="collapsible">
        {% for task in tasks %}
            <li>
                <div class="collapsible-header text-shadow white-text teal darken-2">
                    <div class="col s">
                        <i class="fas fa-caret-down"></i>
                        <a href="" class="btn-small black-text teal accent-1">Done</a>
                        <a href="" class="btn-small teal darken-4">Edit</a>
                    </div>
                    <div class="col s9">
                        <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                        {% if task.is_urgent == "on" %}
                            <i class="fas fa-exclamation-circle teal-text lighten-2 tooltipped" 
                                data-position="right" data-tooltip="Urgent Task!"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>
                        <strong>{{ task.category_name }}</strong>
                        <p>{{ task.task_description }}</p>
                        <p><em>by: {{ task.created_by }}</em></p>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}